:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /*background-color: #242424;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body, .vis-cntr {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #242424;
}

.vis-cntr {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: blur(0.1rem) contrast(10);
  mix-blend-mode: screen;
}

#visualizer {
  position: relative;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background: #fff;
  transition: .5s;
  transform: rotateZ(180deg);
}

@media screen and (max-width: 500px) {
  #visualizer {
    width: 10rem;
    height: 10rem;
  }
}

@media screen and (max-width: 300px) {
  #visualizer {
    width: 5rem;
    height: 5rem;
  }
}

.btn-cntr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12rem;
  height: 12rem;
  background-color: #242424;
  border-radius: 50%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .btn-cntr {
    width: 8rem;
    height: 8rem;
  }
}

@media screen and (max-width: 300px) {
  .btn-cntr {
    width: 4rem;
    height: 4rem;
  }
}

#play {
  border: none;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 500px) {
  #play {
    width: 8rem;
    height: 8rem;
  }
}

@media screen and (max-width: 300px) {
  #play {
    width: 4rem;
    height: 4rem;
  }
}

.play-icon, .pause-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  color: white;
  opacity: 0;
  transition: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 300ms;
}

#play .icon-tabler {
  width: 5rem;
  height: 5rem;
  stroke-width: 0.08rem;
}

@media screen and (max-width: 500px) {
  #play .icon-tabler {
    width: calc(5rem / 3 * 2);
    height: calc(5rem / 3 * 2);
  }
}

@media screen and (max-width: 300px) {
  #play .icon-tabler {
    width: calc(5rem / 3);
    height: calc(5rem / 3);
  }
}

body[data-playing="false"] .play-icon {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

body[data-playing="true"] .pause-icon {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.visualizer-node {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.8rem;
  height: calc(30% - 1px);
  /*clip-path: polygon(100% 0%, 100% 100%, 0% 70%, 0% 30%);*/
  background-color: white;
  border-radius: 1rem;
  transform-origin: top left;
  transition: .25s;
}

/* TODO: */
/*@media screen and (max-width: 500px) {*/
/*  .visualizer-node {*/
/*    height: 0.5rem;*/
/*    border-radius: 0.1rem;*/
/*  }*/
/*}*/

/*@media screen and (max-width: 300px) {*/
/*  .visualizer-node {*/
/*    height: 0.1rem;*/
/*    border-radius: 0.1rem;*/
/*  }*/
/*}*/
